html, body {
  background-color: #0b0d35;
  color: #074ea7!important;
}

@import url('https://fonts.googleapis.com/css?family=Orbitron');

.title {
  font-family: 'Orbitron';
}

.centerd {
  margin: 0 auto;
  float: none;
  margin-bottom: 3rem;
}

input.form-control, input.form-control:focus {
  color: #074ea7
}

.card {
  /* background-color: #1a0058; */
  background-color: #1261c3;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.card:hover {
  transform: scale(1.12);
}

.card:active {
  transform: scale(.9);
}

.card-title {
  font-size: 1.3rem;
  color: #0b0d35;
}