html, body {
  background-color: blueviolet
}

.App {
  text-align: center
}

.centerd {
  margin: 0 auto;
  float: none;
  margin-bottom: 3rem;
}

input.form-control, input.form-control:focus {
  color: #dc3545
}

.row {
  margin-bottom: 2rem;
}

.title {
  color: white;
  margin-bottom: 3rem;
}